@import 'https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,600,700,800';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
	font-family: 'Oswald', sans-serif;
	font-style: italic;

	color: white;
	background: black;

	margin: 0;

	display: flex;
	flex-direction: column;
}

.difficulty,
.bpm,
.mods,
.ppIfRestFced {
	display: inline-block;

	font-size: 10px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 3px;
}
